# Yandex.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
In this project, we will compare the music preferences of the cities of Springfield and Shelbyville. We'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Data
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so we will need to explore it before testing the hypotheses. 

According to the documentation:
- `'userID'` — user identifier
- `'Track'` — track title
- `'artist'` — artist's name
- `'genre'`
- `'City'` — user's city
- `'time'` — the exact time the track was played
- `'Day'` — day of the week

First, we will evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, we will try to account for the most critical problems.

 
[Back to Contents](#back)

## Stage 1. Data overview <a id='data_review'></a>

In [1]:
# importing pandas
import pandas as pd

In [2]:
#read in the file and save as df
df = pd.read_csv('music_project_en.csv')# reading the file and storing it to df
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

In [3]:
#displaying first 10 rows of data
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [4]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

[Back to Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>

In [5]:
 # the list of column names in the df table
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

In [6]:
# renaming columns
df.columns = ['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day']

In [7]:
# checking result: the list of column names
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [8]:
#showing entries in dataframe that are NA 
df.isna()

       user_id  track  artist  genre   city   time    day
0        False  False   False  False  False  False  False
1        False  False   False  False  False  False  False
2        False  False   False  False  False  False  False
3        False  False   False  False  False  False  False
4        False  False   False  False  False  False  False
...        ...    ...     ...    ...    ...    ...    ...
65074    False  False   False  False  False  False  False
65075    False  False   False  False  False  False  False
65076    False  False    True  False  False  False  False
65077    False  False   False  False  False  False  False
65078    False  False   False  False  False  False  False

[65079 rows x 7 columns]

In [9]:
# calculating missing values for each column 
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

In [10]:
#check percentage of missing values for each column 
df.isnull().sum()/len(df)

user_id    0.000000
track      0.020636
artist     0.116274
genre      0.018408
city       0.000000
time       0.000000
day        0.000000
dtype: float64

In [11]:
#Replace the missing values in 'track', 'artist', and 'genre' with the string 'unknown'
columns_to_replace = ['track', 'artist', 'genre']

for col in columns_to_replace:
    df[col] = df[col].fillna('unknown')
    # looping over column names and replacing missing values with 'unknown'
print(columns_to_replace)

['track', 'artist', 'genre']

In [12]:
# counting missing values after replacing missing values with 'unknown'
print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [13]:
# counting clear duplicates
df.duplicated().sum()

3826

Call the `pandas` method for getting rid of obvious duplicates:

In [15]:
#resetting index and removing obvious duplicates to create new dataframe
df = df.drop_duplicates().reset_index(drop=True)

Count obvious duplicates once more to make sure you have removed all of them:

In [16]:
# checking for duplicates once more to make sure it has been removed 
df.duplicated().sum()

0

In [17]:
# dropping old indexing and resetting 
df = df.drop_duplicates().reset_index(drop=True) 

# viewing unique genre names
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hip',
 'hip-hop',
 'hiphop',
 'historisch',
 'holiday',
 'hop',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 'türk',
 'türkçe',
 'unknown',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 'ïîï']

We see the following implicit duplicates: hip, hop, and hip-hop. We should correct these.

In [18]:
# function for replacing implicit duplicates
def replace_wrong_genres(wrong_genres, correct_genre): 
    df['genre'] = df['genre'].replace(wrong_genres, correct_genre)

In [19]:
#replacing the implicit duplicates with "hiphop"
wrong_genres = ['hip', 'hop', 'hip-hop']
correct_genre = 'hiphop'
replace_wrong_genres(wrong_genres, correct_genre) # removing implicit duplicates

In [20]:
# checking for implicit duplicates after removing implicit duplicates 
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'axé',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forró',
 'frankreich',
 'französisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hiphop',
 'historisch',
 'holiday',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 'sängerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 'türk',
 'türkçe',
 'unknown',
 'urban',
 'uzbek',
 'variété',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 'ïîï']

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

We will perform each computation separately. 

We will evaluate user activity in each city, then group the data by city and find the number of songs played in each group.

In [21]:
# number of songs played in each city 
tracks_city = df.groupby('city')['track'].count()
tracks_city

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now we will group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [22]:
# Calculating tracks played on each of the three days
tracks_day = df.groupby('day')['track'].count()
tracks_day

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion, so we will try grouping by city and day.

In [23]:
#writing a function to group by day and city
def number_tracks(day, city):   
    #locating the day and city 
    track_list = df.loc[(df['day'] == day) & (df['city'] == city)] 
    #counting the users
    track_list_count = track_list['user_id'].count()
    return track_list_count

Calling `number_tracks()` six times, changing the parameter values, so that we retrieve the data on both cities for each of the three days.

In [24]:
# the number of songs played in Springfield on Monday
number_tracks('Monday', 'Springfield')

15740

In [25]:
# the number of songs played in Shelbyville on Monday
number_tracks('Monday', 'Shelbyville')

5614

In [26]:
# the number of songs played in Springfield on Wednesday
number_tracks('Wednesday', 'Springfield')

11056

In [27]:
# the number of songs played in Shelbyville on Wednesday
number_tracks('Wednesday', 'Shelbyville')

7003

In [28]:
# the number of songs played in Springfield on Friday
number_tracks('Friday', 'Springfield')

15945

In [29]:
# the number of songs played in Shelbyville on Friday
number_tracks('Friday', 'Shelbyville')

5895

In [30]:
#creating a new table with specified columns and values
new_table = {
    'city': ['Springfield', 'Shelbyville'],
    'monday': [15740, 5614],
    'wednesday': [11056, 7003],
    'friday': [15945, 5895]
}

new_table = pd.DataFrame(new_table)
new_table
    # table with results

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

In [31]:
#creating new table to only include data from Springfield
spr_general = df[df['city'] == 'Springfield']  
spr_general

,user_id,track,artist,genre,city,time,day
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
...,...,...,...,...,...,...,...
61247,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
61248,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
61250,C5E3A0D5,Jalopiina,unknown,industrial,Springfield,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

In [33]:
# creating new table where the value in the 'city' column is 'Shelbyville'
shel_general = df[df['city'] == 'Shelbyville'] 
shel_general

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
9,E772D5C0,Pessimist,unknown,dance,Shelbyville,21:20:49,Wednesday
...,...,...,...,...,...,...,...
61239,D94F810B,Theme from the Walking Dead,Proyecto Halloween,film,Shelbyville,21:14:40,Monday
61240,BC8EC5CF,Red Lips: Gta (Rover Rework),Rover,electronic,Shelbyville,21:06:50,Monday
61241,29E04611,Bre Petrunko,Perunika Trio,world,Shelbyville,13:56:00,Monday
61242,1B91C621,(Hello) Cloud Mountain,sleepmakeswaves,postrock,Shelbyville,09:22:13,Monday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hiphop,Shelbyville,10:00:00,Monday

In [34]:
#writing a function to return info on the 15 most popular genres on a given day within the period between the two timestamps
def genre_weekday(df, day, time1, time2):
    

    # consecutive filtering
    # Create the variable genre_df which will store only those df rows where the day is equal to day=
    genre_df = df[(df['day'] == day)] # write your code here

    # filter again so that genre_df will store only those rows where the time is smaller than time2=
    genre_df = genre_df[(genre_df['time'] < time2)] # write your code here

    # filter once more so that genre_df will store only rows where the time is greater than time1=
    genre_df = genre_df[(genre_df['time'] > time1)] # write your code here

    # group the filtered DataFrame by the column with the names of genres, take the genre column, and find the number of rows for each genre with the count() method
    genre_df_count = genre_df.groupby('genre')['genre'].count()# write your code here

    # sort the result in descending order (so that the most popular genres come first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(ascending=False)# write your code here

    # we will return the Series object storing the 15 most popular genres on a given day in a given timeframe
    return genre_df_sorted.head(15)

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [35]:
# calling the function for Monday morning in Springfield (use spr_general instead of the df table)
genre_weekday(spr_general, 'Monday', '07:00:00', '11:00:00')

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: genre, dtype: int64

In [36]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)
genre_weekday(shel_general, 'Monday', '07:00:00', '11:00:00')

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: genre, dtype: int64

In [37]:
# calling the function for Friday evening in Springfield
genre_weekday(spr_general, 'Friday', '17:00:00', '23:00:00')

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: genre, dtype: int64

In [38]:
# calling the function for Friday evening in Shelbyville
genre_weekday(shel_general, 'Friday', '17:00:00', '23:00:00')

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: genre, dtype: int64

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

In [39]:
#=grouping the spr_general table by the 'genre' column, then counting the 'genre', 
#and sorting in descending order
spr_genres = spr_general.groupby('genre')['track'].count().sort_values(ascending=False)

In [40]:
# printing the first 10 rows of spr_genres
spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: track, dtype: int64

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [41]:
#grouping the shel_general table by the 'genre' column, 
# counting the 'genre' values, and sorting in descending order 
shel_genres = shel_general.groupby('genre')['track'].count().sort_values(ascending=False)

In [42]:
# printing the first 10 rows from shel_genres
shel_genres.head(10)

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: track, dtype: int64

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

[Back to Contents](#back)